*{
  margin: 0;
  padding: 0;
}
.resume-row{
  display: flex;
  align-items: flex-start;
}
.res-col{
  width: 50%;
  padding-left: 20px;
}
.resume-col{
  margin-bottom: 40px;
}
.resume-title{
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #dadada;
}
.resume-items{
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 28px;
}
.col-line{
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #eca11f;
}
.row-line{
  width: 2px;
  height: 256px;
  position: absolute;
  left: 6.5px;
  top:15px;
  background: #eca11f;
}
#edu-row-line{
  height: 216px;
}
#edu-row-line2{
  height: 210px;
}
#prof-row-line{
  height: 348px;
}
#prof-row-line2{
  height: 330px;
}
.res-item{
  margin-left: 50px;
}
.res-item h5{
  font-size: 16px;
  background: #fceddc;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #eca11f;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
}
.res-item h4{
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #eca11f;
  margin-bottom: 10px;
}
.res-info,
.res-info2{
  margin-bottom: 1rem;
  font-size: 20px;
  line-height: 26px;
}
.res-item ul{
  margin-left: 20px;
}
.res-item ul li{
  font-size: 20px;
  padding-bottom: 10px;
  line-height: 28px;
}
@media screen  and (max-width: 768px){
  #resume-overlay{
    padding: 130px 20px;
  }
  .resume-row{
    flex-direction: column;
  }
  .res-col{
    width: 100%;
  }
  #edu-row-line{
    height: 190px;
  }
}
@media screen  and (max-width: 600px){
  html,
  body{
    width: 100%;
    overflow-y: auto;
    height: 100%
  }
  #edu-row-line {
    height: 218px;
  }
  #prof-row-line {
    height: 350px;
  }
  #prof-row-line2 {
    height: 330px;
  }
}
