*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow:auto;
  background-color: black;
}
/*  Sections  */
.project-section,
.contact-section,
.about-section,
.resume-section{
  position: relative;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.overLay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 130px 100px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.my-project-div,
.my-contact-div,
.my-about-div,
.my-resume-div,
.skills-p-div{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Skills-div{
  margin-top: 50px;
}
.my-project-title,
.my-contact-title,
.my-about-title,
.skill-title,
.my-resume-title{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 15px;
}
.vertical-line{
  width: 5px;
  height: 40px;
  background-color: #eca11f;
}
.project-text,
.contact-text,
.about-text,
.skills-text,
.resume-text{
  font-size: 40px;
  text-transform:uppercase;
  letter-spacing: 3px;
  color: white;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-weight: bold;
}
.project-paragraph,
.contact-paragraph,
.about-paragraph,
.skills-paragraph,
.resume-paragraph{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  font-family: 'Josefin Sans';
}
#contact-paragraph-id,
#about-paragraph-id,
#skills-paragraph-id{
  font-size: 20px;
  width: 900px;
  font-weight: 500;
  font-family: 'Josefin Sans';
}
.projects-content,
.resume-content{
  margin-top: 50px;
}
.projects-row{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 30px;
}
.projects-row-img{
  width: 500px;
  object-fit: cover;
}
.projects-row-content{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.projects-row-content h3{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}
.projects-row-content-desc{
  font-size: 20px;
  max-width: 400px;
  line-height: 1.7;
  margin-bottom: 20px;
  font-family: 'Josefin Sans';
}
.case-btn:hover{
  border: 2px solid #cf8b14;
  color: #cf8b14;
  background-color: transparent;
}
.show-menu{
  display: flex;
  animation: slideIn 0.5s ease-in-out ;  
}
.see-more{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}

/* tablet screen size  */
@media screen and (max-width: 768px){
  .my-project-div {
    text-align: center;
  }
  .project-paragraph {
    max-width: 650px;
  }
  .projects-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects-row-content {
    text-align: center;
    align-items: center;
  }
  .projects-row-content-desc {
    max-width: 500px;
  }
}

/* phone screen size  */
@media screen and (max-width: 600px) {
  html,
  body{
    width: 100%;
    overflow-y: auto;
    height: 100%
  }
  .overLay {
    padding: 130px 20px;
  }
  .project-text, 
  .contact-text, 
  .about-text, 
  .skills-text, 
  .resume-text {
    font-size: 35px;
  }
  .project-paragraph,
  .about-paragraph,
  .skills-paragraph,
  #contact-paragraph-id {
    max-width: 100%;
    font-size: 1.2rem;
  }
  .projects-content {
    width: 100%;
  }
  .projects-row-img {
    width: 100%;
  }
  .projects-row-content {
    margin-bottom: 40px;
  }
  .projects-row-content h3 {
    font-size: 30px;
  }
  .projects-row-content-desc {
    width: 100%;
    font-size: 16px;
  }
  .case-btn{
    width: 100%;
  }
}